.container{
  position: absolute;
  top: 8px;
  left: 8px;
  resize: auto;
  display: flex;
  min-width: 250px;
  flex-direction: column;
  border: 1px solid rgb(129, 129, 129);
  border-radius: 2px;
  border-radius: 2px;
  z-index: 1;

  .title-bar{
    background: rgb(83, 83, 83);
    display: flex;
    justify-content: space-between;
    min-width: 200px;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;

    .title{
      flex-grow: 1;
      font-weight: bold;
      font-size: 1.1rem;
      margin-right: 20px;
      cursor: grab;
    }

    .btn{
      height: 100%;
      cursor: pointer;
    }

    .btn i{
      align-self: center;
    }

    .btn:hover{
      background-color: rgb(32, 32, 32);
    }
  }

  .content{
    overflow: hidden;
    overflow-y: auto;
    resize: both;
    padding: 5px;
    min-width: 250px;
    min-height: 200px;
    background-color: rgb(37, 37, 37);
    position: relative;
  }

  textarea{
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border:none;
    background-color: transparent;
    resize: none;
    padding: 0;
  }
}