<div 
  *ngIf="item.type === 'FILE'"
  class="flex align-items-center cursor-pointer item"
  [ngClass]="{'with-parent': hasParent, 'selected': isSelected}"
  (click)="onItemSelected()"
  (dblclick)="onOpenItem()"
  (contextmenu)="onItemSelected()"
  [title]="item.name"
>
  <i class="pi pi-file"></i> 
  <span *ngIf="!isEditing">&nbsp;{{item.name}}</span>
  <input *ngIf="isEditing" (blur)="onBlur($event)" [pAutoFocus]="true">

</div>

<ng-container *ngIf="item.type === 'FOLDER'">

  <div 
    class="flex align-items-center cursor-pointer item" 
    [ngClass]="{'with-parent': hasParent, 'selected': isSelected}"
    (click)="item.collapsed = !item.collapsed"
    (click)="onItemSelected()"
    (contextmenu)="onItemSelected()"
  >
    <i class="pi" [ngClass]="{'pi-folder': item.collapsed, 'pi-folder-open': !item.collapsed}"></i>
    <span *ngIf="!isEditing">&nbsp;{{item.name}} </span>
    <input *ngIf="isEditing" (blur)="onBlur($event)" [pAutoFocus]="true">
    <i *ngIf="!isEditing" class="pi arrow" [ngClass]="{'pi-chevron-right': item.collapsed, 'pi-chevron-down': !item.collapsed}"></i>
  </div>
  
  <div *ngIf="!item.collapsed" class="ml-3">
    <app-hierarchy-menu-item *ngFor="let child of item.children" [item]="child" [hasParent]="true"></app-hierarchy-menu-item>
  </div>

</ng-container>

