p{
  margin: 1px;
}

.addBlockBtn{
  position: absolute;
  top: 0px;
  right: 2px;
  padding: 5px;
  padding: 0px 3px;
  border-radius: 3px;
  width: unset !important;
}


.text-editor-wrapper{
  width: 100%;
  height: 100%;
}

.text-editor-menu{
  background-color: rgb(53, 53, 53);
}

.text-editor-actions-container{
  min-width: 30px;
  position:relative
}

.text-editor-content{
  word-break: break-word;
  position: relative;
}

.text-editor-wrapper::ng-deep::-moz-selection { /* Code for Firefox */
  background: rgb(87, 163, 235);
}

.text-editor-wrapper::ng-deep::selection {
  background: rgb(87, 163, 235);
}

.text-editor-actions{
  button{
    padding: 5px;
    border-radius: 3px;
    background-color: rgb(87, 163, 235);
    border: none;
  }
}