<p-splitter [style]="{'height': 'calc(100vh - 50px)'}" [panelSizes]="[20,80]" [minSizes]="[10,80]">
  <ng-template pTemplate>
    <p-splitter [style]="{'height': '800px'}" [panelSizes]="[50,50]" [minSizes]="[20,20]">

      <ng-template pTemplate>
        <app-hierarchy-menu 
          style="width: 100%;"
          [items]="project.files"
          (init)="onHierarchyMenuInit($event)"
          (createFile)="onCreateFile($event)"
          (createFolder)="onCreateFolder($event)"
          (deleteItem)="onDeleteItem($event)"
          (openItem)="openItem($event)"
        ></app-hierarchy-menu>
      </ng-template>

      <ng-template pTemplate>
        <app-text-editor-index
          style="width: 100%;"
          [blocks]="project.files[currentPageIndex].blocks!"
          [references]="project.references"
          (nodeSelected)="onNodeSelected($event)"
      ></app-text-editor-index>
      </ng-template>
    </p-splitter>

  </ng-template>

  <ng-template pTemplate>
    <p-splitter [style]="{'height': '800px'}" [panelSizes]="[80,20]" [minSizes]="[60,20]">
      <ng-template pTemplate>
        <div class="main-text-editor-wrapper flex flex-column">
          <app-text-editor 
            class="flex-grow-1" 
            [blocks]="project.files[currentPageIndex].blocks!"
            [showMenu]="true"
            [editorMenu]="editorMenu"
            [id]="'main'"
          ></app-text-editor>
          <div class="flex pl-5 pr-7"> 
            <!-- <div style="width: 100%;">
              <p-tabMenu *ngIf="tabmenu" [model]="tabmenu" [scrollable]="true" #tabs [activeItem]="tabmenu[0]"></p-tabMenu>
            </div>
            <button class="ml-1" style="border-style: solid;" type="button" (click)="addPage()"> <i class="pi pi-plus"></i></button> -->
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate>
        <div style="width: 100%">
          <app-text-editor-extras [notes]="project.notes"></app-text-editor-extras>
        </div>
      </ng-template>
    </p-splitter>
  </ng-template>

</p-splitter>

<!-- REFERENCE -->

<p-dialog header="Create Reference" [(visible)]="isReferenceCreationVisible" [style]="{width: '60vw'}" [modal]="true">
  <ng-container *ngIf="newReference">
    <label for="refTitle" class="mr-2">Reference Title</label>
    <input type="text" pInputText [(ngModel)]="newReference.title" id="refTitle"/>
    <br><br>
    <app-text-editor class="flex-grow-1" [blocks]="newReference.blocks ||  []"></app-text-editor>
  </ng-container>
  <ng-template pTemplate="footer">
    <button pButton type="button" label="Create" class="p-button-success" [disabled]="!newReference?.title" (click)="createReference()"></button>
    <button pButton type="button" label="Cancel" class="p-button-danger" (click)="closeCreateReference()"></button>
  </ng-template>
</p-dialog>

<p-dialog header="Choose Reference" [(visible)]="isReferenceChooseVisible" [style]="{width: '50vw'}" [modal]="true">
  <div *ngFor="let ref of project?.references; let i = index;" class="reference-row shadow-2" (click)="selectReference(i)">{{ref.title}}</div>
</p-dialog>

<p-overlayPanel #referenceOP>
  <ng-template pTemplate>
    <ng-container *ngIf="currentReference">
      <h3 contenteditable="true" (keydown)="updateReferenceTitle($event, currentReference)">{{currentReference.title}}</h3>
      <app-text-editor class="flex-grow-1" [blocks]="currentReference.blocks"></app-text-editor>
    </ng-container>
    <div *ngIf="!currentReference">The reference doesn't exist!</div>
  </ng-template>
</p-overlayPanel>

<!-- NOTES -->

<p-dialog header="Create Note" [(visible)]="isNoteCreationVisible" [style]="{width: '60vw'}" [modal]="true">
  <ng-container *ngIf="newNote">
    <label for="refTitle" class="mr-2">Note Title</label>
    <input type="text" pInputText [(ngModel)]="newNote.title" id="refTitle"/>
    <br><br>
    <app-text-editor class="flex-grow-1" [blocks]="newNote.blocks ||  []"></app-text-editor>
  </ng-container>
  <ng-template pTemplate="footer">
    <button pButton type="button" label="Create" class="p-button-success" [disabled]="!newNote?.title" (click)="createNote()"></button>
    <button pButton type="button" label="Cancel" class="p-button-danger" (click)="closeCreateNote()"></button>
  </ng-template>
</p-dialog>